<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>Speckle Mobile</title>
	<link rel="icon" href="/favicon.ico" type="image/x-icon">
	<link rel="stylesheet" href="/resources/css/speckle.css" type="text/css">
  <script type="text/javascript">
  
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-19336167-1']);
    _gaq.push(['_trackPageview']);
  
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  
  </script>
</head>
<body class="website" topmargin="0" leftmargin="0">
  <div class="header">Time Tracking on The Go</div>
  <div align="center">
  <div class="mainwrap">
    <p>Speckle works with <a href="http://www.letsfreckle.com">Freckle</a> to keep track of hours spent on projects and tasks along with enabling you to review and bill those hours all from the comfort of your pocket.</p>
    <img alt="Speckle Mobile" width="380" height="325" src="/resources/img/phone-view.png"><h1>For iOS and Android Devices</h1>
    <p>Seems like you're not visiting this web app from a suitable device. We support mobile devices that run Android and iOS (iPhone &amp; iPad) so try one of those out. If you're sure you want to continue to this web app, just <a href="?mobile=true">click here</a>.</p>
    <p class="note">NOTE: Some features are not available yet, but are planned for future releases.</p>
    <p class="footer">A joint venture of <a href="http://www.vinylfox.com">VinylFox</a> and CodeTick. Created for the <a href="http://www.sencha.com/contest/">Sencha Touch</a> mobile app contest. Email <a href="mailto:shea@specklemobile.com">Shea</a> with suggestions or questions.</p> 
  </div>
  </div>
</body>
</html>
